<section class="book">
 <h2><%= link_to book.title, store_book_path(book) %></h2>
 <h3><%= book.author %></h3>
  <p class="price">
 	<%= number_to_currency(book.price) %>
 </p>
 <div class="description">
 	<%= book.description %>
 </div>
 <% if book.genre %>
	 <p>
	 	<strong>Genre: <%= book.genre.name %></strong>
	 </p>
 <% end %>
 <p>ISBN-13: <%= book.isbn %></p>
</section>