	<%= render "header" %>
	<div id="wrapper">										
		<div id="content_inside">
			<div id="sidebar">	
				<ul id="list">
					<%= render "cart" %>
					<%= render "menu" %>
				</ul>
			</div>
			<div id="main">
				<div class="search">
					<%= render "search" %>
				</div>
				<div id="books">
					<%= field_set_tag do %>
					<label>Name:</label> <%= text_field_tag :name %><br/>
					<label>Email:</label> <%= email_field_tag :email %><br/>
					<label>Address:</label> <%= text_field_tag :address %><br/>
					<label>Province:</label> <%= select_tag :province_select, options_for_select(['AB', 'BC', 'MB', 'NB', 'NL', 'NT', 'NS', 'NU', 'ON', 'PE', 'QC', 'SK', 'YT']) %><br/>

					<%= submit_tag 'Submit Order' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>