<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Rumsfeld Books</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
	<%= render "header" %>
	<div id="wrapper">									
		<div id="content_inside">
			<div id="sidebar">	
				<ul id="list">
					<%= render "menu" %>
				</ul>
			</div>
			<div id="main">
				<div class="search">
					<p><%= render "search" %></p>
				</div>
				<div id="books">
					<h1><%= @genre.name %></h1>
					<p><%= @genre.description %></p>
					<% if @books.empty? %>
							<p>There are currently no books available in the <%= @genre.name %> category.</p>
						<% end %>
					<% @books.each do |book| %> 
						<div class="book">
							<span class="title"><%= link_to book.title, store_book_path(book) %></span><br />
							<span class="author"><%= book.author %></span>
						<% unless book.image_filename.blank? %>
						<%= link_to image_tag(book.image_filename), store_book_path(book) %><br />
						<% else %>
						<%= link_to image_tag("no_image.jpg"), store_book_path(book) %><br />
						<% end %>
						<span class="price"><%= number_to_currency(book.price) %></span>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
