	<%= render "header" %>
	<div id="wrapper">									
		<div id="content_inside">
			<div id="sidebar">	
				<ul id="list">
					<%= render "menu" %>
				</ul>
			</div>
			<div id="main">
				<div class="search">
					<%= render "search" %>
				</div>
				<div id="books">
					<h1><%= @genre.name %></h1>
					<p><%= @genre.description %></p>
					<% if @books.empty? %>
							<p>There are currently no books available in the <%= @genre.name %> category.</p>
						<% end %>
					<% @books.each do |book| %> 
						<div class="book">
							<span class="title"><%= link_to book.title, store_book_path(book) %></span><br />
							<span class="author"><%= book.author %></span>
						<% unless book.image_filename.blank? %>
						<%= link_to image_tag(book.image_filename, :alt => "cover"), store_book_path(book) %><br />
						<% else %>
						<%= link_to image_tag("no_image.jpg", :alt => "no image"), store_book_path(book) %><br />
						<% end %>
						<span class="price"><%= number_to_currency(book.price) %></span>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>