	<%= render "header" %>
	<div id="wrapper">											
		<div id="content_inside">
			<div id="sidebar">	
				<ul id="list">
					<%= render "cart" %>
					<%= render "menu" %>
				</ul>
			</div>
			<div id="main">
				<div class="search">
					<%= render "search" %>
				</div>
				<div id="books">
						<%= render @books %>
				</div>
			</div>
		</div>
	</div>